{{#each this}}
<li class="container-items">
<a href="{{url}}">
    <img src="{{images.0.url}}" alt="" class="container-image">
</a>    
    <h2 class="text-color text-title">{{name}}</h2>
    <p class="text-color text">{{classifications.0.segment.name}}</p>
</li>
{{/each}}