{{#each this}}
<li class="container-items">
    <div class="container-before">
    <a href="##" class="gallery__link">
    <img src="{{images.0.url}}" alt="" class="container-image">
    </a>
    </div>
    <h2 class="text-color text-title">{{name}}</h2>
    <p class="text-color text">{{classifications.0.segment.name}}</p>
</li>
{{/each}}