<section class="hero">
  <div class="hero__container container">
    <svg class="logo">
      <use href="./images/logo.svg#icon-logo"></use>
    </svg>
    <h1 class="hero__title title">FIND BEST EVENTS AROUND THE WORLD</h1>
    <div class="search">
      <ul class="search-form container list">
        <li class="search-string">
          <input class="input-area" id="js-input-event" type="text" name="query" autocomplete="off"
            placeholder="Start searching" />
          <!-- <svg class="search-icon">
                <use href="../images/search-icon.svg#search"></use>
            </svg> -->
        </li>
        <li class="search-string">
          <input class="input-area" id="js-input-country" type="text" name="query" autocomplete="off"
            placeholder="Choose country" />
          <!-- <svg class="search-icon">
                <use href="../images/search-icon.svg#choose"></use>
            </svg> -->
        </li>
      </ul>
    </div>
  </div>
</section>