<!-- Модальное окно -->


  <div class="lightbox lightbox__overlay modal-guts" data-modal>
  
  
  <section class="">
    <div class="modal ">
      <a class="close-modal">
        <svg class="svg-close" viewBox="0 0 20 20">
          <path fill=" #4C00FE"
            d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z">
          </path>
        </svg>
      </a>
      <div class="box-image">
        <!-- <a class="link-image" href="https://yandex.ua/images/search?pos=0&img_url=https%3A%2F%2Fic.pics.livejournal.com%2Ftiina%2F12725143%2F1569195%2F1569195_original.jpg&text=гугл%20картинки%20котики&lr=27838&rpt=simage&source=wiz">
            <img class="img-modal" src="https://ic.pics.livejournal.com/tiina/12725143/1569195/1569195_original.jpg"  /></a> -->
      </div>
      <div class="flex">
        <div class="col">
          <img class="img-modal" src="" alt="team__twelve_">
  
        </div>
        <div class="col col-2">
          <div class="modal-container ">
            <ul class="modal__info">
              <li class="modal__title-list list">
                <h3 class="modal__title">INFO</h3>
                <p class="modal__title-description size-description-title">
                  Atlas Weekend is the largest music festival in Ukraine. More than 200 artists will create
                  a proper music festival atmosphere on 10 stages
                </p>
              </li>
              <li class="modal__title-list description-size list">
                <h3 class="modal__title">WHEN</h3>
                <!-- <p class="modal__title-description">2021-06-09 20:00 (Kyiv/Ukraine)</p> -->
                <span class="modal__title-description">2021-06-09</span>
                <span class="modal__title-description">20:00 (Kyiv/Ukraine)</span>
              </li>
              <li class="modal__title-list description-size list">
                <h3 class="modal__title">WHERE</h3>
                <!-- <p class="modal__title-description">Kyiv, Ukraine VDNH</p> -->
                <span class="modal__title-description">Kyiv, Ukraine</span>
                <span class="modal__title-description">VDNH</span>
              </li>
              <li class="modal__title-list description-size list">
                <h3 class="modal__title">WHO</h3>
                <!-- <p class="modal__title-description">The Black Eyed Peas</p> -->
                <span class="modal__title-description">The Black Eyed Peas</span>
              </li>
              <li class="modal__title-list list">
                <h3 class="modal__title">PRICES</h3>
                <div class="button-block">
                  <span class="modal__title-description"><svg class="svg-ticket" width="24" height="16">
                      <use href="./images/sprite.svg#icon-ticket1"></use>
                    </svg>Standart 300-500 UAH</span>
                  <button class="button-form button-text">BUY TICKETS</button>
                </div>
                <div class="button-block">
  
  
                  <span class="modal__title-description"><svg class="svg-ticket" width="24" height="16">
                      <use href="./images/sprite.svg#icon-ticket2"></use>
                    </svg>VIP 1000-1500 UAH</span>
                  <button class="button-form button-text">BUY TICKETS</button>
                </div>
          </div>
        </div>
      </div>
      <div>
        <button class="button-form__inform button-text">MORE FROM THIS AUTHOR</button>
      </div>
      </li>
      </ul>
  
    </div>
    </section>
  </div>

