<!-- Модальное окно -->

<section class="lightbox lightbox__overlay modal-guts">
  <div class="modal">
    <button class="close-modal">
      <svg class="svg-close" viewBox="0 0 20 20">
        <path
          fill=" #4C00FE"
          d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"
        ></path>
      </svg>
    </button>
    <div class="box-image">
      <img class="img-modal" src="" />
    </div>
    <div class="container-modal">
      <img class="img-modal_big" src="" alt="team__twelve_" />
      <ul class="modal-container">
        <li class="modal__title-list modal__title-list-null">
          <h3 class="modal__title">INFO</h3>
          <p class="modal__title-description size-description-title">
            Atlas Weekend is the largest music festival in Ukraine. More than 200 artists will
            create a proper music festival atmosphere on 10 stages
          </p>
        </li>
        <li class="modal__title-list description-size">
          <h3 class="modal__title">WHEN</h3>
          <span class="modal__title-description">2021-06-09</span>
          <span class="modal__title-description">20:00 (Kyiv/Ukraine)</span>
        </li>
        <li class="modal__title-list description-size">
          <h3 class="modal__title">WHERE</h3>
          <span class="modal__title-description">Kyiv, Ukraine</span>
          <span class="modal__title-description">VDNH</span>
        </li>
        <li class="modal__title-list description-size">
          <h3 class="modal__title">WHO</h3>
          <span class="modal__title-description">The Black Eyed Peas</span>
        </li>
        <li class="modal__title-list">
          <h3 class="modal__title">PRICES</h3>
          <div class="button-block">
            <span class="modal__title-button"
              ><svg class="svg-ticket" width="24" height="16">
                <use href="./images/sprite.svg#icon-ticket1"></use></svg
              >Standart 300-500 UAH</span
            >
            <button type="button" class="button-form button-text">BUY TICKETS</button>
          </div>
          <div class="button-block button-block_buy">
            <span class="modal__title-button"
              ><svg class="svg-ticket" width="24" height="16">
                <use href="./images/sprite.svg#icon-ticket2"></use></svg
              >VIP 1000-1500 UAH</span
            >
            <button type="button" class="button-form button-text">BUY TICKETS</button>
          </div>
        </li>
      </ul>
    </div>
    <button type="button" class="button-form__inform">MORE FROM THIS AUTHOR</button>
  </div>
</section>
