<!-- <section class="search">
    <ul class="search-form container list">
        <li class="search-string">
            <input class="input-area" id="js-input-event" type="text" name="query" autocomplete="off"
                placeholder="Start searching" />
            <svg class="search-icon__icon-search" width="12" height="12">
                <use href="./images/sprite.svg#icon-search"></use>
            </svg>
        </li>
        <li class="search-string">
            <input class="input-area" id="js-input-country" type="text" name="query" autocomplete="off"
                placeholder="Choose country" />
            <button class="dropdown">
                <svg class="search-ico__icon-polygon-down" width="15" height="10">
                    <use href="./images/sprite.svg#icon-polygon-down"></use>
                </svg>
            </button>
        </li>
    </ul>
</section> -->