<div class="switch-theme">
    <div class="switch-theme__wrapper">
        <button class="switch-theme__button icon" id="button" type="button">
            <!-- <svg class="switch-theme__icon" id="sun" aria-label="Icon day and night">
                <use href="./images/switch-theme.svg#icon-day">
                </use>
            </svg>
            <svg class="switch-theme__icon" id="moon" aria-label="Icon moon">
                <use href="./images/switch-theme.svg#icon-moon">
                </use>
            </svg> -->
        </button>

    </div>
</div>