<!--Модальное окно Презентация команды-->
<div class="modal_team-container">
        <div class="backdrop is-hidden" data-modal>
                <div class="team__modal">
                        <button class="modal__btn-close" data-modal-close>
                                <svg class="modal__btn-close-icon" width="18px" height="18px">
                                        <use href="./images/sprite.svg#icon-close"></use>
                                </svg>
                        </button>
                        
                        <p class="modal__team-title">
                                <span class="heart"></span> Наша команда Project team twelve <span class="heart"></span>
                        </p>
        
                        <ul class="team__list">
                                <li class="team__item">
                                        <picture>
                                                <img class="team__image" src="./images/team/ihor.jpg" alt="Ihor">
                                        </picture>
                                        <div class="team__box">
                                                <h2 class="team__header">Игорь</h2>
                                                <p class="team__description">Developer</p>
                                                <a href="" class="team__link"></a>
                                        </div>
                                </li>
                                <li class="team__item">
                                        <picture>
                                                <img class="team__image" src="./images/team/tamila.jpg" alt="Tamila">
                                        </picture>
                                        <div class="team__box">
                                                <h2 class="team__header">Тамила</h2>
                                                <p class="team__description">Team lead</p>
                                                <a href="" class="team__link"></a>
                                        </div>
                                </li>
                                <li class="team__item">
                                        <picture>
                                                <img class="team__image" src="./images/team/js.jpg" alt="JS">
                                        </picture>
                                        <div class="team__box">
                                                <h2 class="team__header">Наша команда</h2>
                                                <p class="team__description">Project team 12</p>
                                                <a href="" class="team__link"></a>
                                        </div>
                                </li>
                                <li class="team__item">
                                        <picture>
                                                <img class="team__image" src="./images/team/viktoriia.jpg" alt="Viktoriia">
                                        </picture>
                                        <div class="team__box">
                                                <h2 class="team__header">Виктория</h2>
                                                <p class="team__description">Scrum</p>
                                                <a href="" class="team__link"></a>
                                        </div>
                                </li>
                                <li class="team__item">
                                        <picture>
                                                <img class="team__image" src="./images/team/vitaliy.jpg" alt="Vitaliy">
                                        </picture>
                                        <div class="team__box">
                                                <h2 class="team__header">Виталий</h2>
                                                <p class="team__description">Developer</p>
                                                <a href="" class="team__link"></a>
                                        </div>
                                </li>
                                <li class="team__item">
                                        <picture>
                                                <img class="team__image" src="./images/team/valentin.jpg" alt="Valentin">
                                        </picture>
                                        <div class="team__box">
                                                <h2 class="team__header">Валентин</h2>
                                                <p class="team__description">Developer</p>
                                                <a href="" class="team__link"></a>
                                        </div>
                                </li>
                                <li class="team__item">
                                        <picture>
                                                <img class="team__image" src="./images/team/liudmyla.jpg" alt="Liudmyla">
                                        </picture>
                                        <div class="team__box">
                                                <h2 class="team__header">Людмила</h2>
                                                <p class="team__description">Developer</p>
                                                <a href="" class="team__link"></a>
                                        </div>
                                </li>
                                <li class="team__item">
                                        <picture>
                                                <img class="team__image" src="./images/team/roman.jpg" alt="Roman">
                                        </picture>
                                        <div class="team__box">
                                                <h2 class="team__header">Роман</h2>
                                                <p class="team__description">Developer</p>
                                                <a href="" class="team__link"></a>
                                        </div>
                                </li>
                                <li class="team__item">
                                        <picture>
                                                <img class="team__image" src="./images/team/daria.jpg" alt="Dariia">
                                        </picture>
                                        <div class="team__box">
                                                <h2 class="team__header">Дарья</h2>
                                                <p class="team__description">Developer</p>
                                                <a href="" class="team__link"></a>
                                        </div>
                                </li>
                                <li class="team__item">
                                        <picture>
                                                <img class="team__image" src="./images/team/oleg.jpg" alt="Oleg">
                                        </picture>
                                        <div class="team__box">
                                                <h2 class="team__header">Олег</h2>
                                                <p class="team__description">Developer</p>
                                                <a href="" class="team__link"></a>
                                        </div>
                                </li>
        
                        </ul>
                </div>
        </div>

</div>