.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 272px;
  height: 915px;
  transform: translate(-50%, -50%);
  background: #fff2fd;
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 150px 0px;
  @media screen and (min-width: 768px) {
    width: 595px;
    height: 831px;

    border-radius: 300px 0px;
  }

  @media screen and (min-width: 1280px) {
    width: 930px;
    height: 1023px;
  }
}
.flex {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2 - 30px);
  }
}

.img-modal {
  width: 102px;
  height: 102px;
  background-size: 132px 132px;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    width: 80px;
    height: 80px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;

    margin-top: 50px;
  }
}

.img-modal_big {
  display: none;
  @media screen and (min-width: 768px) {
    width: 233px;
    height: 416px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
  }
  @media screen and (min-width: 1280px) {
    width: 360px;
    height: 641px;
    margin-right: 60px;
  }
}

.modal__title-list {
  margin-top: 10px;

  @media screen and (min-width: 1280px) {
    margin-top: 20px;
  }
}

.modal__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #dc56c5;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}
.modal__title-description {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #0e0e0e;
  margin-top: 5px;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}

.modal__title-button {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #0e0e0e;

  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}

.button-block {
  margin-top: 5px;
}

.button-form {
  display: block;
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;
  margin-top: 10px;
  cursor: pointer;
  width: 145px;
  height: 40px;
  background: #4c00fe;
  border-radius: 5px;
  color: #fff;

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 20px;
  }
}

.button-form__inform {
  width: 230px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border: 1px solid #4c00fe;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: #4c00fe;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    border: 1px solid #dc56c5;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 45px;
    width: 255px;

    border: 1px solid #4c00fe;
  }
}

.size-description-title {
  width: 243px;
  @media screen and (min-width: 1280px) {
    width: 450px;
    height: 66px;
  }
}
.description-size {
  width: 178px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-left: 0px;
  }
}
.svg-ticket {
  display: inline-block;
  margin-right: 13px;
  @media screen and (min-width: 1280px) {
    width: 29px;
    height: 19px;
  }
}

.close-modal {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 1280px) {
    top: 30px;
    right: 30px;
  }
}

.svg-close {
  width: 17px;
  height: 17px;
  @media screen and (min-width: 1280px) {
    width: 25px;
    height: 25px;
  }
}
.box-image {
  width: 102px;
  height: 102px;
  background-image: url(https://cdn.fishki.net/upload/post/2018/11/19/2772341/bez-nazvanija.jpg);
  background-size: 132px 132px;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    width: 80px;
    height: 80px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;
    margin-top: 50px;
  }
}
.modal-container {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.lightbox {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  background-color: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
}

.container-modal {
  display: flex;
  justify-content: center;

  margin-top: 35px;

  @media screen and (min-width: 1280px) {
    margin-top: 40px;
  }
}

.modal__title-list-null {
  margin-top: 0;
}

.button-block_buy {
  @media screen and (min-width: 1280px) {
    margin-top: 30px;
  }
}
