.footer {
  justify-content: center;
}

.footer-all-rights {
  display: block;

  width: 252px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 27px;
  line-height: 1.22;
  text-align: center;

  color: #939393;

  @media screen and (min-width: 768px) {
    width: 521px;
    font-size: 16px;
    line-height: 1.22;

    margin-bottom: 19px;
  }
  @media screen and (min-width: 1280px) {
    width: 521px;
    font-size: 16px;
    line-height: 1.25;

    margin-top: 190px;
    margin-bottom: 18px;
  }
}

.footer-heart {
  color: #da3838;
}

.arrow-up {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
