.title {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  width: 212px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;

  color: #dc56c5;
  padding-bottom: 23px;
  padding-top: 78px;

  @media screen and (min-width: 768px) {
    width: 353px;
    font-size: 30px;
    line-height: 1.23;
    padding-bottom: 27px;
    padding-top: 40px;
  }
  @media screen and (min-width: 1280px) {
    width: 589px;
    font-size: 50px;
    line-height: 1.22;
    padding-bottom: 52px;
  }
}
